@import "./variables.scss";
.blog {
  padding: 30px 20px;
  background-color: $bgWhite;
  box-shadow: $shadow;
  margin: 10px 0;
  border-radius: 5px;
  .row {
    flex-wrap: wrap;
  }
  .card {
    flex-basis: calc((100% / 3) - 10px);
    box-shadow: $shadow;
    border-radius: 5px;
    margin: 0 15px 15px 0;
    &:nth-child(3n) {
      margin-right: 0;
    }
    &-head {
      overflow: hidden;
      border-radius: 5px 5px 0 0;
      img {
        width: 100%;
        object-fit: cover;
        transform: scale(1);
        transition: 0.3ms ease-in-out;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    &-body {
      padding: 10px;
      h2 {
        font-size: 18px;
        font-weight: 500;
        margin: 0 0 5px 0;
      }
      p {
        margin: 10px 0;
      }
      span {
        font-size: 13px;
        font-weight: 500;
      }
      a {
        float: right;
        color: $link;
        margin: 0 0 10px 0;
      }
    }
  }
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    a {
      padding: 0 5px;
      margin: 0 5px;
      border: 2px solid #feb100;
      border-radius: 50%;
      font-weight: 400;
    }
  }
}
