@import "./variables.scss";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $bgWhite;
  box-shadow: $shadow;
  height: 60px;
  border-radius: 5px;
  position: relative;
  .home {
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $bgLight;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    svg {
      font-size: 30px;
    }
    &:hover {
      background-color: #feb800;
    }
  }
  .nav {
    flex: 4;
    &-link {
      padding: 0 15px;
      text-transform: uppercase;
      font-weight: 500;
      &:hover {
        color: #feb100;
      }
    }
    &-active {
      color: #feb100;
    }
  }
  .social {
    margin: 0 5px;
    &-link {
      padding: 0 5px;
    }
  }
  .hire {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #feb100;
    padding: 5px 10px;
    border-radius: 100px;
    font-weight: 500;
    margin-right: 5px;
    span {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: $bgWhite;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 5px;
    }
    &:hover {
      background-color: #feb800;
    }
  }
  .hamburger {
    display: none;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    svg {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 768px) {
    .nav {
      display: none;
      position: absolute;
      width: 100%;
      top: 62px;
      flex-direction: column;
      background-color: $bgWhite;
      box-shadow: $shadow;
      margin-top: 5px;
      padding: 5px;
      &-link {
        text-align: center;
        padding: 15px 5px;
        border-bottom: 1px solid #eee;
        &:last-child {
          border-bottom: 0;
        }
      }
      &-mobile {
        display: flex;
      }
    }
    .social {
      flex: 4;
      display: flex;
      justify-content: flex-end;
    }
    .hamburger {
      display: flex;
    }
  }
}
